table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
}
.list-table{
    max-width: 800px;
}